body{
    background-color: #FFFFFF;
    color: #434455;
    font-family: "Roboto", sans-serif;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.header-menu-list-studio{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-menu-list-studio:focus{
    color: #404bbf;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.3125;
    text-decoration: none;
    color: #2E2F42;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
.logo-text{
    color: #2E2F42;
}
.header-menu-list{
    color: #2E2F42;
    font-weight: 500;
}
.header-menu-list a{
    color: #2E2F42;
    font-weight: 500;
}
.header-menu-list a:hover{
    color: #404BBF;
}
.header-menu-list a:active {
    color: #404BBF;
    text-decoration: underline;
}
address{
    font-style: normal;
}
.header-addres a{
    font-style: normal;
    color: #434455;
}
.header-addres a:hover {
    color: #404BBF;
}
.header-addres{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-addres-list:focus{
    color: #404bbf;
}
.big-banner-title{
    text-align: center;
    background-color: #2E2F42;
    color: #FFFFFF;
}
.big-banner-text{
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.big-banner-title-btn{
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.big-banner-title-btn:hover{
    background-color: #404BBF;
}
.big-banner-title-btn:focus{
    background-color: #404BBF;
}
.our-goals-title{
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.our-goals-paragraf{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.our-team{
    background-color: #F4F4FD;
}
.our-team h2{
    font-weight: 700;
    text-align: center;
    color: #2E2F42;
}
.our-team h3 {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    line-height: 2;
    color: #2E2F42;

}
.our-team p{
    text-align: center;
}

.our-portfolio h2{
    color: #2E2F42;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    font-size: 36;
}
.our-portfolio h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #2E2F42;
}
.our-portfolio p {
    line-height: 1.5;

}
footer{
    text-align: left;
    background-color: #2E2F42;
}
footer p{
    line-height: 1.5;
    color: #F4F4FD;
}

